.navbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar .logo {
    width: 150px;
}


.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.navbar-menu a {
    text-decoration: none;
    color: rgb(3, 98, 124);
    transition: 0.3s;
}

.navbar-menu li {
    cursor: pointer;
}

.navbar-menu li:hover {
    transform: scale(1.1);
}

.navbar-menu a.active {
    color: palevioletred;
    border-bottom: 2px solid palevioletred;
    font-weight: 600;
}


.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid rgb(3, 98, 124);
    color: palevioletred;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar button:hover {
    background-color: rgb(231, 237, 239);
}


.navbar-search-icon {
    position: relative;
    cursor: pointer;
}

.navbar-search-icon .dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: palevioletred;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    top: -5px;
    right: -5px;
}


.navbar-profile {
    position: relative;
}

.navbar-profile img {
    width: 35px;
}

.navbar-profile:hover {
    transform: scale(1.0001);
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 2;
    z-index: -1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: #e3eaef;
    padding: 10px 25px;
    border-radius: 2px;
    border: 0.1px solid palevioletred;
    outline: 1px solid palevioletred;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(3, 98, 124);
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: palevioletred;
}


.navbar-back {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: #f3f3f3;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-back:hover {
    background-color: #e7edef;
    transform: translateX(-3px);
}

.navbar-back img {
    width: 20px;
}

.navbar-back span {
    font-size: 14px;
    font-weight: 600;
    color: rgb(3, 98, 124);
    text-transform: uppercase;
}
.navbar-back:hover span {
    color: palevioletred;
}

   /* HAMBURGER MENU */

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(3, 98, 124);
    border-radius: 3px;
}


@media (max-width: 1050px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
        z-index: 1001;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: white;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        font-size: 20px;
        text-align: center;
    }

    .navbar-back span {
        display: none;
    }

    .menu-toggle.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}